{% extends "base.html" %} {% block title %}FitnessFusion • Home{% endblock %}

{% block content %}
<div class="start-img"></div>
<div class="all-con homecon">
<h2 class="gm" align="center">{{ greeting }} {{ first_name }}!</h2>
<h6 class="wellness" align="center">Ready to explore a world full of wellness?</h6>

<div class="viscontainer">
    <div class="trends-container">
        <h2 class="trends-heading">Newest Fitness Trends</h2>
        <ul class="trends-list">
        <li><a href="https://www.theskinnyconfidential.com/how-to-stay-consistent-with-diet-exercise/">How to stay consistent with diet & exercise (by: Lauryn Evarts Bossstick)</a></li>
        <li><a href="https://www.health.harvard.edu/blog/intermittent-fasting-surprising-update-2018062914156">Intermittent fasting: The positive news continues (by: Harvard University)</a></li>
        <li><a href="https://chloeting.com/program">Start a free workout program (by: Chloe Ting)</a></li>
        <li><a href="https://www.healthline.com/nutrition/3-step-plan-to-stop-sugar-cravings">A Simple 3-Step Plan to Stop Sugar Cravings (by: Healthline)</a></li>
        <li><a href="https://www.medicalnewstoday.com/articles/327474">High intensity interval training (HIIT): Benefits and how to start (by: Medical News Today)</a></li>
        </ul>
    </div>
    <div class="quote-container">
        <h2 class="trends-heading">Quote of the Day</h2>
        <blockquote>
          "If something stands between you and your success, move it. Never be denied."
          <br />
          <cite>Dwayne “The Rock” Johnson</cite>
        </blockquote>
      </div>
    </div>    
</div>
  


{% endblock %}